<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1 class="center-align">Telegram</h1>
        <div class="cur"></div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input type="text" id="author">
                <label>Name</label>
            </div>
        </div>

        <div class="row">
            <div class="hide col s4 offset-s4 center-align" id="error">You need to input your name</div>
        </div>

        <div class="row">
            <ul class="collection col s8 offset-s2" id="chat"></ul>
        </div>
        
        <div class="hide" id="error">You need to input your name</div>
        
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <textarea id="message" class="materialize-textarea"></textarea>
                <label for="textarea1">Message</label>
                <a id="send-btn" class="waves-effect waves-light btn-small col s4 offset-s4">Send</a>
            </div>
        </div>
        
        
    </div>
    
    
    <script src="ws.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>