#chat {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid rgb(197, 197, 197);
}

#error {
    padding: 2px 6px;
    background-color: rgb(255, 180, 180);
    border: 1px solid red;
    border-radius: 6px;
}

.message {
    max-width: 300px;
    min-width: 150px;
    background-color: rgb(223, 223, 223);
    border-radius: 4px;
    padding: 4px 10px;
}

.message.my-message {
    background-color: rgb(28, 134, 255);
    color: white;
}

.message-block {
    margin: 12px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

